Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Audio/Cavern.uasset
Content/Audio/Encounter.uasset
Content/Audio/Encounter.wav
Content/Audio/Cavern.wav